### **Loops:** 
1. For loop
2. While Loop
3. break
4. continue

**For Loop:**  
It iterate over sequence of numbers or characters.

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
name = input('Enter name: ')
for i in name:
    print(i)

print('Done')

Enter name:  ganesh gunjal

g
a
n
e
s
h

g
u
n
j
a
l
Done

In [6]:
for i in range(10,1,-1):   ## 1 is excluded. 
    print(i)

10
9
8
7
6
5
4
3
2

In [7]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

### **While Loop:** 
The while loop continues to execute as long as the condition is true.

In [12]:
count = 0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [13]:
count = 0
while count <=5:
    print(count)
    count = count+1

0
1
2
3
4
5

**Loop Control statements:**
1. Break:- 
2. Continue

In [17]:
for i in range(10):
    if i==7:
        break
    print(i)
print('Outside loop')

0
1
2
3
4
5
6
Outside loop

In [18]:
for i in range(10):
    if i == 7:   #it will skip  7 and will go on.
        continue
    print(i)
print('outside loop.')

0
1
2
3
4
5
6
8
9
outside loop.

In [20]:
for i in range(11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

### **Nested Loop:**
Loop inside loop is called nested loop.

In [23]:
for i in range(3):
    for j in range(3):
        print(f'i:{i},j:{j}')

i:0,j:0
i:0,j:1
i:0,j:2
i:1,j:0
i:1,j:1
i:1,j:2
i:2,j:0
i:2,j:1
i:2,j:2

**Examples:**

**Calculate sum of first N numbers using while loop.**

In [25]:
sum=0
n = 10
count = 1

while count <= n:
    sum = sum + count
    count = count + 1
print(sum)

55

In [29]:
sum = 0
n = int(input('Enter number to calculate sum:'))
count = 1
while count<=n:
    sum = sum + count
    count = count + 1
print(f'Sum of first {n} number is {sum}')

Enter number to calculate sum: 15

Sum of first 15 number is 120

**Calculate sum of first N numbers using while loop.**

In [32]:
n = int(input('Enter number to calculate sum: '))
sum=0
for i in range(n+1):
    sum = sum + i
print(f'Sum of first {n} numners is {sum}')

Enter number to calculate sum:  15

Sum of first 15 numners is 120

**Display prime numbers between 1 to 100.**  
prime number means it can divide with 1 and itself only.   
Special Case:: 1 is not prime number.   
2 is the only one even prime number.

In [37]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else: 
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97