### **Dictionary:-**
1. Dictionaries are the **unordered collection** of the items.
2. they store data in the key: value pair.
3. every key must be unique. if we give another value to the key. the value will be replace. not another same key will be created.
4. keys must be immutable.

In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
info = {
    'Name' : 'Ganesh',
    'Surname' : 'Gunjal',
    'Age' : 33,
    'Education' : 'BE Computers',
    'Profession' : 'Data Scientist'
}

In [3]:
print(info)

{'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist'}

In [4]:
print(info['Name'])

Ganesh

In [5]:
print(info['Education'])

BE Computers

Another thing is, when value is not present for any key, it will give error. best practice is that USE .get() method.

In [6]:
info.get('Name')

'Ganesh'

In [7]:
info.get('Education')

'BE Computers'

In [10]:
print(info.get('Adress'))    #The address is not given in the dictionary, yet it doesn't give an error.

None

In [12]:
#another thing is we can give any default value. we gave default as Not present.
#Another thing is that we can provide a default value. We set the default to 'Not present.

print(info.get('Adress','Not present'))

Not present

#### Modifying Dictionary element:
1. dictionares are mutable. we can add, update, delete values.

In [13]:
info['Adress'] = 'Bangalore'

In [14]:
print(info)

{'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Adress': 'Bangalore'}

In [15]:
info['Coompany'] = 'Microsoft'

In [16]:
info

{'Name': 'Ganesh',
 'Surname': 'Gunjal',
 'Age': 33,
 'Education': 'BE Computers',
 'Profession': 'Data Scientist',
 'Adress': 'Bangalore',
 'Coompany': 'Microsoft'}

In [19]:
del(info['Coompany'])

In [20]:
info

{'Name': 'Ganesh',
 'Surname': 'Gunjal',
 'Age': 33,
 'Education': 'BE Computers',
 'Profession': 'Data Scientist',
 'Adress': 'Bangalore'}

In [21]:
info['Company'] = 'Microsoft'

In [22]:
info

{'Name': 'Ganesh',
 'Surname': 'Gunjal',
 'Age': 33,
 'Education': 'BE Computers',
 'Profession': 'Data Scientist',
 'Adress': 'Bangalore',
 'Company': 'Microsoft'}

In [23]:
del info['Adress']

In [24]:
info['Address'] = 'Bangalore'

In [25]:
info

{'Name': 'Ganesh',
 'Surname': 'Gunjal',
 'Age': 33,
 'Education': 'BE Computers',
 'Profession': 'Data Scientist',
 'Company': 'Microsoft',
 'Address': 'Bangalore'}

#### Dictionary Methods:

In [26]:
# 1 To get all the keys:
info.keys()

dict_keys(['Name', 'Surname', 'Age', 'Education', 'Profession', 'Company', 'Address'])

In [27]:
len(info.keys())

7

In [28]:
# 2. To get all the values:
info.values()

dict_values(['Ganesh', 'Gunjal', 33, 'BE Computers', 'Data Scientist', 'Microsoft', 'Bangalore'])

In [29]:
len(info.values())

7

In [30]:
# 3. to get key and values:
info.items()

dict_items([('Name', 'Ganesh'), ('Surname', 'Gunjal'), ('Age', 33), ('Education', 'BE Computers'), ('Profession', 'Data Scientist'), ('Company', 'Microsoft'), ('Address', 'Bangalore')])

In [34]:
for key,value in info.items():
    print(key,':',value)

Name : Ganesh
Surname : Gunjal
Age : 33
Education : BE Computers
Profession : Data Scientist
Company : Microsoft
Address : Bangalore

In [36]:
for i,(key,value) in enumerate(info.items()):
    print(i,key,':', value)

0 Name : Ganesh
1 Surname : Gunjal
2 Age : 33
3 Education : BE Computers
4 Profession : Data Scientist
5 Company : Microsoft
6 Address : Bangalore

In [37]:
#shallow copy: very imporatant in the project.
info_copy = info
print(info)
print(info_copy)

{'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Company': 'Microsoft', 'Address': 'Bangalore'}
{'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Company': 'Microsoft', 'Address': 'Bangalore'}

In [38]:
info['Name'] = 'Ganesh1'

In [40]:
print(info)
print(info_copy)   #both names changed. mind this.

{'Name': 'Ganesh1', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Company': 'Microsoft', 'Address': 'Bangalore'}
{'Name': 'Ganesh1', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Company': 'Microsoft', 'Address': 'Bangalore'}

so for this, there is another process of copying,

In [41]:
info_copy1 = info.copy()  #it will allocate another memory. it will give reference of this variable to the another memory.

In [42]:
print(info)
print(info_copy1)

{'Name': 'Ganesh1', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Company': 'Microsoft', 'Address': 'Bangalore'}
{'Name': 'Ganesh1', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Company': 'Microsoft', 'Address': 'Bangalore'}

In [43]:
info['Name'] = 'Ganesh2'

In [47]:
print('Original:',info)
print('Copy:',info_copy1)    #Here, the copy is not changed when the original value is changed.

Original: {'Name': 'Ganesh2', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Company': 'Microsoft', 'Address': 'Bangalore'}
Copy: {'Name': 'Ganesh1', 'Surname': 'Gunjal', 'Age': 33, 'Education': 'BE Computers', 'Profession': 'Data Scientist', 'Company': 'Microsoft', 'Address': 'Bangalore'}

#### Iterating Over the dictionary:

In [48]:
for keys in info.keys():
    print(keys)

Name
Surname
Age
Education
Profession
Company
Address

In [49]:
for values in info.values():
    print(values)

Ganesh2
Gunjal
33
BE Computers
Data Scientist
Microsoft
Bangalore

In [52]:
for key,value in info.items():
    print(f'{key} : {value}')

Name : Ganesh2
Surname : Gunjal
Age : 33
Education : BE Computers
Profession : Data Scientist
Company : Microsoft
Address : Bangalore

#### Nested dictionaries:

In [54]:
students = {
    'Student1' : {'Name':'Ganesh','Surname':'Gunjal','Age':33},
    'Student2' : {'Name':'Dilip','Surname':'Gunjal','Age':32},
    'Student3' : {'Name':'Amol','Surname':'Gunjal','Age':22}
}

In [55]:
print(students)

{'Student1': {'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33}, 'Student2': {'Name': 'Dilip', 'Surname': 'Gunjal', 'Age': 32}, 'Student3': {'Name': 'Amol', 'Surname': 'Gunjal', 'Age': 22}}

In [64]:
print(students['Student2']['Age'])

32

In [59]:
for s,v in students.items():
    print(f'{s} : {v}')

Student1 : {'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33}
Student2 : {'Name': 'Dilip', 'Surname': 'Gunjal', 'Age': 32}
Student3 : {'Name': 'Amol', 'Surname': 'Gunjal', 'Age': 22}

In [63]:
# to print first value
first_key = list(students.keys())[0]
first_value = students[first_key]

print(f'{first_key} : {first_value}')

Student1 : {'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33}

### Iterating over nested dictionaries

In [65]:
print(students)

{'Student1': {'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33}, 'Student2': {'Name': 'Dilip', 'Surname': 'Gunjal', 'Age': 32}, 'Student3': {'Name': 'Amol', 'Surname': 'Gunjal', 'Age': 22}}

In [70]:
for student_id,student_info in students.items():
    print(f'{student_id} : {student_info}')
    print('----------------------------------------')
    for key, value in student_info.items():
        print(f'{key} : {value}')

Student1 : {'Name': 'Ganesh', 'Surname': 'Gunjal', 'Age': 33}
----------------------------------------
Name : Ganesh
Surname : Gunjal
Age : 33
Student2 : {'Name': 'Dilip', 'Surname': 'Gunjal', 'Age': 32}
----------------------------------------
Name : Dilip
Surname : Gunjal
Age : 32
Student3 : {'Name': 'Amol', 'Surname': 'Gunjal', 'Age': 22}
----------------------------------------
Name : Amol
Surname : Gunjal
Age : 22

#### Dictionary Comprehension:-

In [75]:
squares = {x:x**2 for x in range(1,10)}

In [76]:
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [77]:
squares.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [79]:
squares.values()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81])

In [80]:
even_squares = {x:x**2 for x in range(1,11) if x%2==0}

In [81]:
even_squares

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [82]:
odd_squares = {y:y**2 for y in range(1,11) if y%2!=0}

In [83]:
odd_squares

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

#### Some useful use-cases

In [87]:
numbers = [1,2,2,3,3,3,4,4,4,4,4,5]

frequency = {}

for num in numbers:
    if num in frequency:
        frequency[num] = frequency[num] +1
    else:
        frequency[num] = 1

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 5, 5: 1}

In [88]:
# another easy method.
from collections import Counter

In [91]:
frequency = Counter(numbers)
print(frequency)

Counter({4: 5, 3: 3, 2: 2, 1: 1, 5: 1})