### Pandas: 
Its a powerful data manipulation library widely used for data analysis and data cleaning. it provides two primary data structures Series and DataFrame. A series is a one dimenssional array while DataFrame is a two dimensional. size mutable and potentially heterogeneous tablular data structure with labelled axes.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\administrator\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\administrator\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
print(pd.__version__)

2.2.2

###  Pandas Series:

A Series in pandas is a one-dimensional labeled array that can hold any data type (integers, floats, strings, etc.). It is like a column in a spreadsheet or a list with an index.

In [3]:
data = [1,2,3,4,5,6,7]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

#### create series from dictionary:

In [5]:
data = {'a':1,'b':2,'c':3}
series_dict = pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [6]:
data = [10,20,30]
index = ['a','b','c']

pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [8]:
marks = [98,97,94,92,98,96]
subjects = ['Marathi','English','Physics','Chemistry','Mathematics','Biology']

pd.Series(marks,index=subjects)

Marathi        98
English        97
Physics        94
Chemistry      92
Mathematics    98
Biology        96
dtype: int64

### DataFrame: 
A DataFrame is a two-dimensional, size-mutable, and labeled data structure in pandas, similar to a table or spreadsheet with rows and columns.

#### create a Dataframe from dictionary:

In [12]:
data = {
    'Name' : ['Ganesh','Dilip','Amol'],
    'Age' : [33,31,23],
    'City' : ['Bangalore','Nashik','Pune']
}

In [13]:
df = pd.DataFrame(data)
print(type(df

     Name  Age       City
0  Ganesh   33  Bangalore
1   Dilip   31     Nashik
2    Amol   23       Pune

In [10]:
df = pd.DataFrame('online_sales_data.csv')

ValueError: DataFrame constructor not properly called!