### Reading file from different sources:

In [1]:
import pandas as pd
from io import StringIO

In [2]:
data = '{"Employee_name":"James","email":"james@gmail.com","job_profile":[{"title1":"Team lead","title2":"Sr.Developer"}]}'

In [3]:
pd.read_json(StringIO(data))

,Employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team lead', 'title2': 'Sr.Developer'}"