### Data Visualisation With Seaborn:

Seaborn is a Python library for statistical data visualization. It's built on top of Matplotlib and integrates well with pandas, making it great for exploratory data analysis.

#### Why Use Seaborn?
✔️ Prettier & More Readable Plots (compared to Matplotlib)  
✔️ Built-in Datasets (easy to practice)  
✔️ Works Well with Pandas DataFrames  
✔️ Great for Statistical Visualizations (heatmaps, pair plots, violin plots, etc.)

In [1]:
import seaborn as sns

In [4]:
print(f'Version: {sns.__version__}')

Version: 0.13.2

#### Basic plotting:

In [5]:
tips = sns.load_dataset('tips')

In [6]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]