### Variables:-
Name given to memory location.  
varibles are used to store data that can be referenced and manipulated in the program.  
Variables are created when we assign the value to it.
the declaration happens automatically when you assign value to varible.

In [3]:
a = 100
print(type(a))
print(f'value is: {a}')

<class 'int'>
value is: 100

In [4]:
# Declaring and assigning varibles:-
age = 33
height = 5.9
name = 'Ganesh'
is_student = True
print()

In [9]:
print('Age: ',age)
print(type(age))

Age:  33
<class 'int'>

In [10]:
print('Height: ',height)
print(type(height))

Height:  5.9
<class 'float'>

In [11]:
print('Name: ',name)
print(type(name))

Name:  Ganesh
<class 'str'>

In [12]:
print('Is he student: ',is_student)
print(type(is_student))

Is he student:  True
<class 'bool'>

### Naming Convention:-
1. varible names should be descriptive.
2. they always start with letter or underscore.they can contain letters, numbers and underscore.
3. names are case sensitive.
4. Cannot contain special characters like @, #, $, %, &, *, -
5. Cannot be a Python keyword (like if, else, while, etc.)

In [14]:
# valid variable names:-
my_name = 'Ganesh'
surname_ = 'Gunjal'
print('Name: ',my_name)
print('Surname: ',surname_)

Name:  Ganesh
Surname:  Gunjal

In [15]:
# Invalid variable names:- 
2age = 32
print(2age)

SyntaxError: invalid decimal literal (2842899733.py, line 2)

In [16]:
first-name = 'Ganaa'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1775505812.py, line 1)

In [17]:
@name = 'Ganesh'
print(@name)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4235496735.py, line 1)

In [18]:
# Case sensitivity:-
# both variable has different meaning according to python.
name = 'Ganesh'
Name = "gunjal"
print(name)
print(Name)

Ganesh
gunjal

In [19]:
name == Name    #both are not same.

False

#### **Python is dynamically typed. means type of variable is determined at the time of runtime.**

In [20]:
age = 33
height = 5.9

here data types are determined at the time of runtime.

#### Type Checking and Conversion:-

In [21]:
type(age)

int

In [23]:
type(str(age))    # this is type conversion.

str

In [26]:
age = '33'
print('Age: ',age)
print('Type is: ',type(age))
print('After conversion type is: ',type(int(age)))

Age:  33
Type is:  <class 'str'>
After conversion type is:  <class 'int'>

In [27]:
name = 'Ganesh'
int(name)   #not possible

ValueError: invalid literal for int() with base 10: 'Ganesh'

In [28]:
float(25)    # int to float conversion

25.0

#### **Dynamic Typing:-**  
Python allows the type of variable to change the program executes.

In [29]:
var = 10
print(var,type(var))
var = 'Ganesh'
print(var,type(var))

10 <class 'int'>
Ganesh <class 'str'>

#### **Input:**
values taken from user

In [31]:
name = input('Enter name: ')
age = int(input('Enter your age: '))
print(name,type(name))
print(age,type(age))

Enter name:  ganesh
Enter your age:  33

ganesh <class 'str'>
33 <class 'int'>

#### **Simple Calculator**

In [32]:
num1 = int(input('Enter Num1: '))
num2 = int(input('Enter Num2: '))

addition = num1 + num2
substraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

print('************************************************')
print('Sum is: ',addition)
print('Substraction is: ',substraction)
print('Multiplication is: ',multiplication)
print('Division is: ',division)
print('************************************************')

Enter Num1:  22
Enter Num2:  11

************************************************
Sum is:  33
Substraction is:  11
Multiplication is:  242
Division is:  2.0
************************************************