### **Data Types:**
its the classification of data that tells the compiler or interpreter how the programmer intends to use the data.

#### Importance of data types::
1. data types ensures that the data is stored in an efficient way.
2. they help in performing correct operations on data.
3. Proper use of data types can prevent error and bugs in the program.

In [1]:
#Integer data types:
age = 34
print(age)
type(age)

34

int

In [2]:
percent = 98.7
print(percent)
type(percent)

98.7

float

In [3]:
name = 'Ganesh'
print(name)
type(name)

Ganesh

str

In [4]:
is_Student = True
print(is_Student)
type(is_Student)

True

bool

In [5]:
# Some errors coming while typing data types
result = 'Hello' +  5

TypeError: can only concatenate str (not "int") to str

In [6]:
result = 'Hello' +  str(5)
print(result)

Hello5

### **Advance Data types:-**
1. List
2. Tuples
3. Dictionary
4. Set

will see them in some another video.